#header{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: #fef1e0;
}

.v-box{
    -fx-background-color: #fef1e0;
}

.anchor-pane{
    -fx-background-color: #fef1e0;
}

.button{
    -fx-background-color: white;
}

.text-field{
    -fx-background-color: white;
}
.choice-box{
    -fx-background-color: white;
}